<template>
  <div class="hello">
    <p>Custom Resource ID:{{ data.resourceId }}</p>
    <p>CSTM overtime val: {{ data.overtimeLimit }}</p>
  </div>
</template>

<script>
export default {
  name: 'CustomResourceEg',
  props: {
    data: Object
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
p {
  color: #c21c1c;
}
</style>
