<template>
  <div class="hello">
    <p>Custom Com ID:{{ data.id }}</p>
    <p>CSTM Com name: {{ data.name }}</p>
  </div>
</template>

<script>
export default {
  name: 'CustomResourceEg',
  props: {
    data: Object
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
p {
  color: #42b983;
}
</style>
