<template>
  <div class="resource-scheduler-component-ctn">
    
    <div class="resource-and-schedule-ctn">
      <div class="resource-list-ctn"
      v-bind:style="{width: finalConfig.resourceRowWidthPercent +'%'}">
        <!-- push resources by header height -->
        <div class="label-intersection"
        v-bind:style="{height: finalConfig.timeHeaderRowHeight+'px'}">
        </div>  
        <!-- TODO: abstract this out as a component; allow user to supply custom component -->
        <div
        v-for="(item, index) in data.resources"
        :key="index"
        :style="{height: finalConfig.resourceRowHeight+'px'}"
        v-bind:class="{'resource-item':true, [finalConfig.resourceItemClass]:finalConfig.resourceItemClass}">
          <div v-if="finalConfig.resourceCustomComponent">
            <component v-bind:is="finalConfig.resourceCustomComponent"
            v-bind:data="item"
            ></component>
          </div>
          <div v-if="!finalConfig.resourceCustomComponent">  
            <div>
              ID: {{ item.id }}
            </div>
            <div>
              Name: {{ item.name }}
            </div>
          </div>
        </div>
      </div>
      
      <div class="schedule-display-ctn">
        <div class="fixed-size-ctn">
            <div class="time-header-row"
            v-bind:style="{height: finalConfig.timeHeaderRowHeight+'px'}">
              <div class="time-header-cell"
              v-for="(item, index) in timeSlots"
              :key="index"
              :style="{height: finalConfig.timeHeaderRowHeight+'px', width: finalConfig.timeColWidth+'px'}">
                {{ item | dateToHour }}
              </div>
            </div>
            
            <div class="resource-schedule-row"
            v-for="(rowItem, rowIndex) in data.resources"
            :key="rowIndex"
            v-bind:style="{height: finalConfig.resourceRowHeight+'px'}">
              <div class="resource-schedule-cell"
              v-for="(colItem, colIndex) in timeSlots"
              :key="colIndex"
              :style="{height: finalConfig.resourceRowHeight+'px', width: finalConfig.timeColWidth+'px'}"
              @click="cellClickHandler(rowItem, colItem)">
                {{ rowItem.id}} - {{ colItem | dateToHour }}
              
              </div>
            </div>
            
            <VueDraggableResizable
            v-for="(sch) in processedResourceEngagements"
            :key="`schId:${sch[finalConfig.scheduleKeyBinding]}`"
            v-bind:class="{'resource-schedule-item':true, [finalConfig.resourceScheduleClass]: finalConfig.resourceScheduleClass}"
            v-bind:style="{height: (finalConfig.resourceRowHeight*finalConfig.scheduleRowHeightFraction)+'px'}"
            v-bind:y="sch.topInitial"
            v-bind:x="sch.leftInitial"
            v-bind:w="sch.width"
            :h="(finalConfig.resourceRowHeight*finalConfig.scheduleRowHeightFraction)"
            :handles="['ml', 'mr']"
            :parent="true"
            :grid="[((finalConfig.timeColWidth+finalConfig.timeColBorder*2) / 2), 
            (finalConfig.resourceRowHeight+finalConfig.resourceRowBorder*2)]"
            :active="true"
            :preventDeactivation="true"
            :onDrag="handleDragStart"
            v-click-handler="{item: sch, handler: handleScheduleItemClicks}"
            v-on:click.self="trialClickHandler"
            @resizestop="sch.resizeCallback"
            @dragstop="sch.dragCallback">
              <div v-if="finalConfig.scheduleCustomComponent">
                <component v-bind:is="finalConfig.scheduleCustomComponent"
                v-bind:data="sch"
                v-on:click="handleScheduleItemClicks(sch)"
                ></component>
              </div>
              <div v-if="!finalConfig.scheduleCustomComponent">  
                Need to replace this with a custom component
              </div>
            </VueDraggableResizable>  
        </div>  
      </div>
    </div>
  </div>
</template>

<script src="./ResourceScheduler.js"></script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped src="./ResourceScheduler.css"></style>
