.resource-scheduler-component-ctn {
  border: 1px solid black;
  /* take up all space available in the parent omponent */
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.label-intersection {
  width: 100%;
  background-color: yellow;
}

.resource-and-schedule-ctn {
  display: flex;
  height: 100%;
}

.resource-list-ctn {
  border: 1px solid brown;
  flex: initial;
}
.resource-item {
  border: 1px solid brown;
}

.schedule-display-ctn {
  border: 1px solid brown;
  flex: 1;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  position: relative;
}

.fixed-size-ctn {
  position: relative;
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.time-header-row {
  border: 1px solid yellow;
  width: fit-content;
  display: flex;
}
.time-header-cell {
  border: 1px solid brown;
}

.resource-schedule-row {
  border: 1px solid yellow;
  width: fit-content;
  display: flex;
}

.resource-schedule-cell {
  border: 1px solid brown;
}

.resource-schedule-area {
  border: 1px solid brown;
  position: absolute;
  width: 100%;
}
.resource-schedule-item {
  border: 2px dashed violet;
  position: absolute;
}

/deep/ .resource-schedule-item .handle-mr {
  right: -15px;
  cursor: col-resize;
  height: 100%;
  width: 15px;
  top: -15px;
  margin: 15px;
}
/deep/ .resource-schedule-item .handle-ml {
  top: -15px;
  cursor: col-resize;
  margin: 15px;
  height: 100%;
  width: 15px;
  left: -15px;
}