<template>
  <div id="app">
    <ResourceScheduler 
    v-bind:data="sampleData"
    v-bind:config="sampleData.pluginConfig"
    v-on:schedule-item-click="handleSingleClick"
    v-on:schedule-item-dbl-click="handleDblClick"
    v-on:scheduleMoved="handleSchMove"
    v-on:scheduleResized="handleSchResize"
    v-on:timeCellClick="handleTimeCellClick">
    </ResourceScheduler>
  </div>
</template>

<script>
import ResourceScheduler from "./components/ResourceScheduler/ResourceScheduler.vue";
import CustomResourceEg from "./components/CustomResourceEg.vue";
import CustomScheduleEg from "./components/CustomScheduleEg";
import sampleData from "./sampleData.js";

export default {
  name: 'App',
  components: {
    // HelloWorld,
    ResourceScheduler,
    // eslint-disable-next-line vue/no-unused-components
    CustomResourceEg, // will be used for dynamic rendering
    // eslint-disable-next-line vue/no-unused-components
    CustomScheduleEg // will be used in dynamic rendering
  },
  data: () => {
    sampleData.pluginConfig.resourceCustomComponent = CustomResourceEg;
    sampleData.pluginConfig.scheduleCustomComponent = CustomScheduleEg;
    return {
      sampleData: sampleData
    };
  },
  methods: {
    handleSingleClick(scheduleItem) {
      console.log("single click happened", scheduleItem);
    },
    handleDblClick(scheduleItem) {
      console.log("double click happened", scheduleItem);
      
      // delete example
      let idx = sampleData.resourceEngagements.findIndex(eng => scheduleItem.engagementId == eng.engagementId);
      sampleData.resourceEngagements.splice(idx, 1);
    },
    // eslint-disable-next-line no-unused-vars
    handleSchMove(scheduleItem, newResourceId, newStartTime, newEndTime) {
      console.log("schedule moved ", scheduleItem)
      // accpting move with bound data
      scheduleItem.resourceId = newResourceId;
      scheduleItem.startTime = newStartTime.toISOString(); // TODO: this ISO string could be an issue
      scheduleItem.endTime = newEndTime.toISOString();
    },
    handleSchResize(scheduleItem) {
      console.log("schedule item resized", scheduleItem)
    },
    handleTimeCellClick(resourceObj, startTime) {
      console.log("time cell click for:", resourceObj.id, " starting at time: ", startTime);
      
      // add a new engagement for the resource
      sampleData.resourceEngagements.push({
        resourceId: resourceObj.id,
        engagementId: sampleData.resourceEngagements.length + 1,
        startTime: startTime.toISOString(),
        endTime: new Date(startTime.toISOString()).setSeconds(startTime.getSeconds() + 3*60*60),
        overtimeLimit: 8*60*60
      })
    }
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  height: 100vh;
}
</style>
